[submodule "nutaxi-cache"]
	path = nutaxi-cache
	url = https://github.com/microservicesteam/nutaxi-cache.git
[submodule "nutaxi-dev"]
	path = nutaxi-dev
	url = https://github.com/microservicesteam/nutaxi-dev.git
[submodule "nutaxi-route-service"]
	path = nutaxi-route-service
	url = https://github.com/microservicesteam/nutaxi-route-service.git
